@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*Faz com que as linhas não colidam entre si*/
.row::after{
    content: "";
    clear: both;
    display: table;
}

/*Faz com que as colunas flutuem à esquerda com distância de 10px*/
    [class*="col-"] {
    float: left;padding: 10px;
}

/*Divide a tela em doze colunas, cada uma representa uma porcentagem diferente da tela.Para desktop */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

body{
    margin: 0;
    background-color: #f2f2f2; 
}

/******************* Ínicio Cabeçalho *******************/
header {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.navbar #show-menu {
    float: right;
}

#navbar {
    background-color: #010101;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 40px;
    color: #f2f2f2;
}

#nav-menu {
    background-color: #010101;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    right: -100%;
    transition: 850ms;
    z-index: 40;
}

#nav-menu.active {
    right: 0;
    transition: 350ms;
}

.nav-text {
    display: flex;
    justify-content: start;
    list-style: none;
    height: 50px;
    padding: 1rem;
}

.nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 1.2rem;
    margin-left: 1rem;
}

.nav-text:hover {
    background-color: rgba(144, 144, 144, 0.219);
    cursor: pointer;
}

.nav-menu-items {
    width: 100%;
}

.nav-icon {
    padding-right: 1rem;
    color: #f2f2f2;
    font-size: 40px;
}

#navbar-toggle {
    background-color: #010101;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
}

#navbar-toggle h1 {
    color: #f2f2f2;
}

#navbar-toggle a {
    text-decoration: none;
}

.nav-section {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.logo {
    width: 300px;
    margin-left: 50px;
}

#pesquisa{
    width: 40%; 
    height: 40px;
    background-color: #f2f2f2;
    text-align: center;
    border-radius: 50px;
    color:#010101;
    margin-left: auto;
    margin-right: 10px;
}

.cad{
    text-align: right;
    align-items: baseline;
    margin: 0 auto;
    display: block;
    margin-right: 50px;
}

.cad .material-symbols-outlined {
    font-size: 40px;
    color: #f2f2f2;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    outline: none;
    margin: 0;
    padding: 14px 16px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f2f2f2;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a{
    float: none;
    color: #010101;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
    border: none;
}

.dropdown-content a:hover {
    background-color: #737373;
    color: #f2f2f2;
}

.dropbtn {
    cursor: pointer;
    height: 60px;
    font-size: 23px;
    border: transparent;
    width: 100%;
    background-color: #010101;
    color: #f2f2f2;
}

.dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
}

.logo2 {
    display: none;
}

@media screen and (max-width: 1200px) {
    .logo {
        width: 200px;
    }
    #pesquisa {
        width: 30%;
    }
}

@media screen and (max-width: 800px) {
    .logo {
        margin-left: 20px;
    }
    .cad .material-symbols-outlined {
        font-size: 30px;
    }
}

@media screen and (max-width: 700px) {
    .logo {
        width: 150px;
    }
    #pesquisa {
        height: 30px;
    }
    .cad .material-symbols-outlined {
        font-size: 25px;
    }
}

@media screen and (max-width: 600px) {
    #pesquisa {
        width: 20%;
    }
    .logo2 {
        display: block;
        width: 50px;
        margin-left: 20px;
    }
    .logo {
        display: none;
    }
    .dropdown-content a{
        display: none;
    }
    #mobile-btn {
        display: none;
    }
}

@media screen and (max-width:440px) {
    #pesquisa {
        display: none;
    }
}
/******************* Fim Cabeçalho *******************/

/******************** Início Configurações Gerais ********************/
main {
    margin-top: 120px
}
#content-main {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;

}

#content-main h2 {

    margin: 15px;
    font-size: 45px;
    font-weight: 500;

}

#content-main h3 {

    margin-top: 55px;
    font-size: 25px;
    font-weight: 400;

}

#content-main p {

    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    margin-top: 16px;
}

#content-main a {

    text-decoration: none;
    color: #000;
    cursor: pointer;

}

#content-main a:hover {

    text-decoration: underline;


}

#content-main a:visited {

    text-decoration: none;
    color: #000;

}
/******************** Fim Configurações Gerais ********************/

/******************** Ínicio Rodapé ********************/
/*Configuração geral*/
.rodape {
    background-color: #010101;
    color: #f2f2f2;
    line-height: 1.7;
    box-shadow: 0px 0px 0px 3px #0101013c;
    margin-top: 350px;
}

/*Título h1*/
.rodape h1 {
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

/*Parágrafo*/
.rodape p {
    font-size: 17px;
}

/*Informações da empresa*/
.info {
    width: 70%;
    margin: 0 auto;
}

/*Atendimento ao cliente*/
.contato {
    width: 80%;
    margin: 0 auto;
}

/*Imagens do atendimento ao cliente*/
.contato img {
    width: 35px;
    display: inline;
    margin-right: 10px;
}

/*Parágrafo do atendimento ao cliente*/
.contato p {
    display: inline;
    line-height: 3;
}

/*Formas de pagamento aceitas*/
.pagamento {
    width: 70%;
    margin: 0 auto;
}

/*Imagens de formas de pagamento aceitas*/
.pagamento img {
    width: 120px;
    padding: 20px;
}

.fim {
    width: 90%;
    margin: 0 auto;
}

/*Responsividade*/
@media screen and (max-width:700px) {
    .rodape .col-4 {
        width: 100%;
    }
    .rodape .info {
        margin-bottom: 50px;
    }
    .rodape .contato {
        margin-bottom: 50px;
    }
    .rodape .contato {
        width: 70%;
    }
}

@media screen and (max-width: 450px) {

    #content-main {

        margin: 35px;

    }

    .rodape {

        margin-top: 44px;

    }

    .rodape .col-4 {
        width: 100%;
    }
    .rodape .info {
        margin-bottom: 50px;
    }
    .rodape .contato {
        margin-bottom: 50px;
    }
}
/******************** Fim Rodapé ********************/